input, select, button {
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: solid 1px #999999;
}

button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--main-color);
  color: white;

  &[disabled] {
    background-color: #999999;
  }
}


