<theme-switcher></theme-switcher>
<div class="data-entry" [formGroup]="formGroup">
  <app-single-line-field formControlName="firstName" labelText="First Name"></app-single-line-field>
  <errors-display [control]="formGroup.get('firstName')!"></errors-display>
  <!--

  -->
  <treenode-selector [tree-nodes]="treeNodes" formControlName="gimmickId"></treenode-selector>
  <div>
    {{ formGroup.value | json }}
  </div>
  <button type="button" [disabled]="!formGroup.valid">Save</button>

</div>

<theme-consumer></theme-consumer>


